<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="./css/main.css" rel="stylesheet">
    <title>KK Construction</title>
</head>
<body>
	<header>
	    <div class="row">
			<div class="large-5 medium-24 small-24 column">
				<a href="#" class="logo"></a>
			</div>
			<div class="large-14 medium-24  small-24 column">
				<nav id="main-nav">
					<ul>
						<li class="active">
							<a href="/construction/build/katalog.html">проекты</a>
						</li>
						<li>
							<a href="/construction/build/o_nas.html">о компании</a>
						</li>
						<li>
							<a href="/construction/build/garantii.html">клиентам</a>
							<ul class="sub-menu list">
								<li><a href="/construction/build/kartochka.html">Карта товара</a></li>
								<li><a href="/construction/build/fahverk.html">Техн.строительства</a></li>
								<li><a href="/construction/build/credit.html">кредит</a></li>
							</ul>
						</li>
						<li>
							<a href="/construction/build/uslugi_fundamenti.html">услуги</a>
						</li>
						<li>
							<a href="/construction/build/contact.html">контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="large-5 medium-24 small-24 column">
				<div class="phone-head">
					+7 912 455 56 78
				</div>
			</div>
	    </div>
	</header>