<nav class="left-nav bgrWhite">
	<strong>Наши услуги</strong>
	<ul>
		<li class="active"><a href="#">Земляные работы</a></li>
		<li><a href="#">Фундамент </a></li>
		<li><a href="#">Прокладка канализации</a></li>
		<li><a href="#">Электроснабжение </a></li>
		<li><a href="#">Установка отопительных и инженерных систем</a></li>
		<li><a href="#">Внешняя и внутренняя отделка</a></li>
	</ul>
	<hr>
	<ul>
		<li><a href="#">Проектирование </a></li>
		<li><a href="#">Ремонтные работы </a></li>
		<li><a href="#">Ландшафтный дизайн</a></li>
	</ul>
</nav>